@font-face{
font-family: 'Regular';
src: url(../fonts/Rubik/Rubik-Regular.ttf) format('truetype');
}
@font-face{
font-family: 'SemiBoldI';
src: url(../fonts/Inter/Inter-SemiBold.ttf) format('truetype');
 }
 @font-face{
font-family: 'SemiBold';
src: url(../fonts/Rubik/Rubik-SemiBold.ttf) format('truetype');
}
    
 @font-face{
font-family: 'Medium';
src: url(../fonts/Rubik/Rubik-Medium.ttf) format('truetype');
}